<mat-drawer-container class="home_sidenav-container" autosize>
  <mat-drawer #fleetSidenav class="home_sidenav" mode="side" dir="rtl">
    <router-outlet></router-outlet>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container-fluid h-100">
      <div class="row h-100 d-flex flex-column justify-content-between">
        <div class="col-md-12">
          <div class="d-flex p-3" dir="rtl">
            <h2 class="fw-bold mx-4">یونیت ها</h2>
            <div class="d-flex justify-content-center align-items-baseline mr-auto">
              <div>
                <mat-form-field class="mx-2" appearance="outline">
                  <mat-icon matPrefix>search</mat-icon>
                  <input matInput placeholder="جستجو">
                </mat-form-field>
              </div>
              <div>
                <button class="primary_custom" mat-flat-button color="primary">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
                  افزودن
                </button>
              </div>
            </div>
          </div>

          <app-fleet-units-table></app-fleet-units-table>
        </div>
        <div class="col-md-12">
          <div class="paganation">
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>


</mat-drawer-container>
