<p>fleet works!</p>
<mat-drawer-container class="home_sidenav-container" autosize>
  <mat-drawer #drawer class="home_sidenav" mode="side" dir="rtl">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12">
          <button mat-fab aria-label="Example icon button with a bookmark icon" (click)="drawer.close()">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="col-md-12">
          <mat-tab-group>
            <mat-tab label="اطلاعات یونیت">طلاعات یونیت</mat-tab>
            <mat-tab label="Assets"> Assets </mat-tab>
            <mat-tab label="پیکربندی">
              <div class="d-flex">
                <div class="d-flex flex-grow-0 justify-content-center align-items-center m-5">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </div>
                <div class="flex-grow-1">
                  <p>محدوده ها</p>
                  <div class="d-flex justify-content-sm-between">
                    <div>
                      <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
                    </div>
                    <div>حوضچه</div>
                    <div>
                      <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                    </div>
                  </div>
                  <div class="d-flex justify-content-sm-between">
                    <div>
                      <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
                    </div>
                    <div>حوضچه</div>
                    <div>
                      <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                    </div>
                  </div>
                  <div class="d-flex justify-content-sm-between">
                    <div>
                      <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
                    </div>
                    <div>حوضچه</div>
                    <div>
                      <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>

        <div class="col-md-12 d-flex">
          <div class="d-flex flex-grow-0 justify-content-center align-items-center m-5">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          </div>
          <div class="flex-grow-1">
            <p>محدوده ها</p>
            <div class="d-flex justify-content-sm-between">
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
              </div>
              <div>حوضچه</div>
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
              </div>
            </div>
            <div class="d-flex justify-content-sm-between">
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
              </div>
              <div>حوضچه</div>
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
              </div>
            </div>
            <div class="d-flex justify-content-sm-between">
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
              </div>
              <div>حوضچه</div>
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 d-flex">
          <div class="d-flex flex-grow-0 justify-content-center align-items-center m-5">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          </div>
          <div class="flex-grow-1">
            <p>وضعیت</p>
            <div class="d-flex justify-content-sm-between">
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
              </div>
              <div>حوضچه</div>
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container-fluid h-100">
      <div class="row h-100 d-flex flex-column justify-content-between">
        <div class="col-md-12">
          <div class="d-flex p-3" dir="rtl">
            <h2 class="fw-bold mx-4">یونیت ها</h2>
            <div class="d-flex justify-content-center align-items-baseline mr-auto">
              <div>
                <mat-form-field class="mx-2" appearance="outline">
                  <mat-icon matPrefix>search</mat-icon>
                  <input matInput placeholder="جستجو">
                </mat-form-field>
              </div>
              <div>
                <button class="primary_custom" mat-flat-button color="primary">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
                  افزودن
                </button>
              </div>
            </div>
          </div>

          <div dir="rtl">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!-- Position Column -->
              <ng-container matColumnDef="symptom">
                <th mat-header-cell *matHeaderCellDef> نشانه</th>
                <td mat-cell *matCellDef="let element">
                  <img [src]="element.symptom" alt=""> </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> عنوان </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>نوع دستگاه </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef> شماره </th>
                <td mat-cell *matCellDef="let element"> {{element.number}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef> برچسب </th>
                <td mat-cell *matCellDef="let element">
                  <span class="badge badge-light-danger">{{element.label}}</span></td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" mat-button (click)="drawer.open()"></tr>
            </table>
          </div>
        </div>
        <div class="col-md-12">
          <div class="paganation">
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>


</mat-drawer-container>
