.unit-lits-options {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgba(111, 238, 255, 0.089);
  &:first-child {
    flex-grow: 2;
  }
  &:nth-child(2) {
    flex-grow: 1;
  }
  &:last-child {
    flex-grow: 1;
  }
}
