<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 position-relative">
      <div class="mat-detail-close-btn">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon"
          (click)="closeDrawer()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <app-fleet-unit-detail-map [unit]="unit"></app-fleet-unit-detail-map>
    </div>

    <div class="col-md-12">
      <mat-tab-group>
        <mat-tab label="پیکربندی">
          <div class="d-flex">
            <div class="d-flex flex-grow-0 justify-content-center align-items-center m-5">
              <mat-icon aria-hidden="false" aria-label="Example home icon">insert_chart</mat-icon>
            </div>
            <div class="flex-grow-1 p-2">
              <p>متریک ها</p>
              <div class="d-flex justify-content-sm-between">
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">linear_scale</mat-icon>
                </div>
                <div>حوضچه</div>
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                </div>
              </div>
              <div class="d-flex justify-content-sm-between">
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">linear_scale</mat-icon>
                </div>
                <div>حوضچه</div>
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                </div>
              </div>
              <div class="d-flex justify-content-sm-between">
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">linear_scale</mat-icon>
                </div>
                <div>حوضچه</div>
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                </div>
              </div>
              <div class="d-flex justify-content-sm-between">
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">linear_scale</mat-icon>
                </div>
                <div>حوضچه</div>
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                </div>
              </div>
              <div class="d-flex justify-content-sm-between">
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">linear_scale</mat-icon>
                </div>
                <div>حوضچه</div>
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                </div>
              </div>
              <div class="d-flex justify-content-sm-between">
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">linear_scale</mat-icon>
                </div>
                <div>حوضچه</div>
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                </div>
              </div>
              <div class="d-flex justify-content-sm-between">
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">linear_scale</mat-icon>
                </div>
                <div>حوضچه</div>
                <div>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="اطلاعات یونیت">طلاعات یونیت</mat-tab>
        <mat-tab label="Assets"> Assets </mat-tab>
      </mat-tab-group>

    </div>
    <mat-divider [inset]="true"></mat-divider>

    <div class="col-md-12 d-flex">
      <div class="d-flex flex-grow-0 justify-content-center align-items-center m-5">
        <mat-icon aria-hidden="false" aria-label="Example home icon">assistant</mat-icon>
      </div>
      <div class="flex-grow-1">
        <p>محدوده ها</p>
        <div class="d-flex justify-content-sm-between">
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
          </div>
          <div>حوضچه</div>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
          </div>
        </div>
        <div class="d-flex justify-content-sm-between">
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
          </div>
          <div>حوضچه</div>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
          </div>
        </div>
        <div class="d-flex justify-content-sm-between">
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
          </div>
          <div>حوضچه</div>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <mat-divider [inset]="true"></mat-divider>

    <div class="col-md-12 d-flex">
      <div class="d-flex flex-grow-0 justify-content-center align-items-center m-5">
        <mat-icon aria-hidden="false" aria-label="Example home icon">import_contacts</mat-icon>
      </div>
      <div class="flex-grow-1">
        <p>وضعیت</p>
        <div class="d-flex justify-content-sm-between">
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">art_track</mat-icon>
          </div>
          <div>حوضچه</div>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">3d_rotation</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
