<mat-card class="example-card" dir="rtl">
  <mat-card-subtitle class="text-start">1m</mat-card-subtitle>
  <mat-card-content>
    <section class="unit-item-header">
      <div class="unit-item-header-first">
        <div>
          <img src="../../../../../../assets/uniticon/ic_unit1.png" alt="">
        </div>
      </div>
      <div class="unit-item-header-second">
        <h2>سروش-گیت</h2>
        <mat-icon>camera_alt</mat-icon>
      </div>
      <div class="unit-item-header-thirty">
        <span>تاریخچه</span>
        <mat-icon>chevron_left</mat-icon>
      </div>
    </section>

  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <section class="details">
      <div class="details_item">
        <mat-icon>wb_auto</mat-icon>
        <span>22dBd</span>
      </div>
      <div class="details_item">
        <mat-icon>timer_3</mat-icon>
        <span>22dBd</span>
      </div>
      <div class="details_item">
        <mat-icon>trending_up</mat-icon>
        <span>22dBd</span>
      </div>
      <div class="details_item">
        <mat-icon>directions_car</mat-icon>
        <span>22dBd</span>
      </div>
    </section>
  </mat-card-actions>
</mat-card>
