@use "@angular/material" as mat;

$custom-typography: mat.define-typography-config(
  $font-family: "Roboto, monospace ,iransans",
  $headline: mat.define-typography-level(32px, 48px, 700),
  $display-1: mat.define-typography-level(34px, 40px, 600),
  $input: mat.define-typography-level(14px, 1.125, 600),
  $title: mat.define-typography-level(14px, 12px, 600),
);
@include mat.core($custom-typography);

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("./assets/fonts/iran_sans_mobile_light.ttf");
}

.badge {
  display: block;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 25px;
}
.badge-light-succsess {
  color: #50cd89;
  background-color: #e8fff3;
}
.badge-light-danger {
  color: #f1416c;
  background-color: rgba(247, 55, 55, 0.822);
}

.mat-cell {
  font-size: 12px;
  font-weight: bold;
}

th {
  font-weight: bold;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: IRANSans;
  font-size: 12px;
}
h1,
h2 {
  font-family: IRANSans;
}
body {
  overflow-x: hidden;
  a {
    text-decoration: none !important;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none !important;
    }
  }
  li {
    list-style: none;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.apexcharts-canvas {
  margin: auto !important;
}
.mat-icon {
  margin: auto;
}

.mr-auto {
  margin-right: auto;
}

.mat-form-field-outline-end {
  border-radius: 15px 0 0 15px !important;
  min-width: 15px !important;
}

.mat-form-field-outline-start {
  border-radius: 0 15px 15px 0 !important;
  min-width: 15px !important;
}
.mat-form-field-prefix {
  color: rgb(82, 82, 82);
  font-size: 12px;
}

.mat-divider-inset {
  margin: 0 !important;
}
